{% extends 'base.html' %}

{% block container %}
    <div style="background-color: beige">
        <h2>Witaj na mojej stronie!</h2>
        <p>Cześć! Jestem Agnieszka i bardzo się cieszę, że tu zajrzałeś/aś.
            Na tej stronie dzielę się swoimi pasjami, zainteresowaniami i refleksjami.
            Pozwól, że opowiem Ci trochę o sobie.</p>
        <p>Jestem zapalonym czytelnikiem, więc jeśli podzielasz miłość do książek,
            mamy już wspólny punkt zaczepienia.
            Uwielbiam zagłębiać się w różnorodne światy literackie
            i wciągać się w historie bohaterów.</p>
        <p>Kolejną moją wielką pasją jest gra w Wiedźmina.
            Ten wirtualny świat pełen przygód, magii i tajemnic wciągnął mnie na dobre.
            Jeśli też jesteś fanem tej serii gier,
            możemy wymieniać się doświadczeniami i strategiami.</p>
        <p>Jednak nie tylko czytanie i granie stanowią o moim życiu.
            Od dłuższego czasu fascynuje mnie programowanie.
            Tworzenie kodu, rozwiązywanie problemów i tworzenie nowych,
            funkcjonalnych aplikacji to dla mnie nie tylko praca,
            ale także źródło nieustającej satysfakcji.</p>
        <p>A teraz pozwól, że przedstawię moich niezastąpionych kompanów – Geralta i Yennefer.
            To moje dwa urocze koty, które wypełniają moje życie radością i miłością.
            Razem tworzymy niezapomniane chwile,
            a na mojej stronie znajdziesz pewnie kilka zdjęć i filmików z nimi.</p>
        <p>Nie tylko jestem kociarą, ale także miłośniczką mediów społecznościowych.
            Na TikToku dzielę się zabawnymi i uroczymi momentami z moimi futrzastymi przyjaciółmi,
            więc jeśli chcesz uśmiechnąć się razem z nami, dołącz do naszej tiktokowej przygody!</p>
        <p>Dziękuję za odwiedzenie mojej strony.
            Mam nadzieję, że znajdziesz tu coś dla siebie i zostaniesz na dłużej.
            Bardzo cieszę się, że postanowiłeś/aś dołączyć do naszej społeczności!</p>
        <p>Z serdecznością,
        <h4>Agnieszka i koty: Geralt i Yennefer.</h4></p>
    </div>

{% endblock %}



